body {
  background-color: #212121;
  color: #fff;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#clock {
  font-size: 40px;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
}

/* Navigation Bar Styling */
nav {
  background-color: #e0e0e0;
  padding: 12px 20px;
  display: flex;
  gap: 15px;
}

nav a {
  background-color: #d1d1d1;
  color: #000;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #adadad;
  border-radius: 3px;
  font-size: 14px;
}

nav a:hover {
  background-color: #c4c4c4;
}